footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #topfooter {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  ul#Socials {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul#Socials li {
    display: inline-block;
    margin: 0 20px;
  }

  ul#Socials li a img {
    border-radius: 50%;
  }

  p {
    margin: 0;
    text-align: center;
    font-size: 0.8em;
  }