<footer>
  <div id="topfooter">
    <nav>
      <ul id="Socials">
        <li>
          <a href="https://www.linkedin.com/in/thaisarchaud/"
            ><img
              src="assets/images/linkedin.png"
              alt="My Linkedin"
              width="30"
              height="30"
          /></a>
        </li>
        <li>
          <a href="https://github.com/thaiscodafond"
            ><img
              src="assets/images/github.png"
              alt="My Github"
              width="30"
              height="30"
          /></a>
        </li>
      </ul>
    </nav>
  </div>
  <p>Last updated 19/11/2023</p>
</footer>
