@import url("https://fonts.googleapis.com/css2?family=Abel&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plaster&display=swap");

:root {
  font-family: "Abel", sans-serif;
  --main-color: #ea2c65;
  --complementary-color: #93cd4e;
}